{% block file_widget %}
    {{ block('form_widget') }}
    {% if image_url is not null %}
        <img class="updateImage" src="{{ image_url }}"/>
        <a href="{{ path('picture_delete', {'id_picture': image_id}) }}" class="btn btn-danger btn-xs">Supprimer</a>
    {% endif %}
{% endblock %}
