{% extends 'base.html.twig' %}

{% block body %}

    <!----------------------- FORM FORGOT PASSWORD ------------------------>

    <div class="container">
        <h3 class="title-forgotPassword">Mot de passe oublié</h3>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group">
            <div class="col-xs-12">
                {{ form_label(form.pseudo, 'Nom d\'utilisateur', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="btn-ask-reset">
            <button href="/reset/password" class="btn btn-primary">Réinitialiser mot de passe</button>
        </div>
        {{ form_end(form) }}
        <a href="/reset/password">Bouton test</a>
    </div>
{% endblock %}